<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
   crossorigin="anonymous">
</head>
<body class='text-white'style="background-color:black;" >
  <div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron text-center" style="background-image: url(https://www.wallpaperbetter.com/wallpaper/897/576/61/mars-planet-space-1080P-wallpaper.jpg); background-size: 100%; height: 100%;">

        <a class="btn btn-lg text-white" style="background-color:#2a0ec1;" href="/scrape" role="button">Scrape New
            Data</a>
    </div>

<body style="background:black;">
        <h1 style="color:white; text-align:center; margin-bottom:30px; border-bottom:1px solid white; padding-bottom:8px;">
            Mars Information
        </h1>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Latest Mars News</h3>
                    </div>
                    <div class="panel-body">
                        <h4>{{ mars_data.news_title }}</h4>
                        <h4>{{ mars_data.news_p }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Latest Mars Weather</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{ mars_data.mars_weather}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mars Facts</h3>
                    </div>
                    <div class="panel-body">
                        <table>
                            {{ mars_data.mars_fact|safe }}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h1 style="color:white; text-align:center; margin-bottom:30px; border-bottom:1px solid white; padding-bottom:10px;">
            Mars Images
        </h1>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Featured Image</h3>
                    </div>
                    <div class="panel-body">
                        <img src= {{ mars_data.full_image_url }} alt="Featured Image" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mars Hemispheres</h3>
                    </div>
                    <div class="panel-body">
                        <div class="thumbnail" style="width: 50%; float:left;">
                           {% for item in mars_hemisphere_urls%}
						   <img src = “{{item.img.url}}/>
						   <p>{{item.title}}</p>
							{% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>