<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron bg_dark text_white jumbotron-fluid">
       <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars Data</a></p>
    </div>

          <div class="row">
              <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                     <h3>Latest Mars News</h3>
                     <hr>
                     <h5>{{mars_data.news_title}}</h5>
                     <p>{{mars_data.news_p}}</p>
                     <p><a href="https://mars.nasa.gov/news/" class="btn btn-primary">More from NASA</a>

                  </div>
                  </div>
          </div>


          </div>

<div class="row text-center">
  <div class="col-lg-4 col-md-4 mb-4">
       <div class="card text-white bg-dark " >
           <div class="card-body">
            <h4 class="card-title">Quick Mars Facts</h4>
            <table class="table table-hover">{{mars_data.fact_table | safe}}</table>

          </div>
          <div class="card-footer">
           </div>
        </div>
      </div>


         <div class="col-lg-4 col-md-4 mb-4">
	          <div class="card h-100">
	            <img class="card-img-top" src="{{mars_data.full_image_url}}" width="300" height="350" alt="Image Captured from the Jet Propulsion Lab">
	            <div class="card-body">
	              <h4 class="card-title">Featured Image</h4>
	              <p class="card-text">Courtesy of the Jet Propulsion Lab</p>
	            </div>
	            <div class="card-footer">
	              <a href="https://www.jpl.nasa.gov/missions/mars-science-laboratory-curiosity-rover-msl/" class="btn btn-primary">Visit the JPL Site</a>
	            </div>
	          </div>
      </div>

	  
	  
 <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://pbs.twimg.com/profile_images/2552209293/220px-Mars_atmosphere_400x400.jpg" alt="Mars Weather Twitter profile pic">

          <div class="card-body"> <div style="border:5px solid black;">
            <h3 class="card-title">Latest Tweet from @MarsWxReporter</h3>
               <p class="card-text"> </p>

            <p>Mars Weather: {{ mars_data.mars_weather }}</p>
          </div>
          <div class="card-footer">
          </div>
        </div>
 </div>



    </div><!---container for image and table closed-->
    <h3 style="padding-top:30px; text-align: center;">Mars Hemispheres</h3>
    <div class='card-deck'>
      <div class='col-md-12'>
          <div class="row">
              {% for item in mars_data.hemi_img %}
              <div class="col-md-6">
                  <div class="card text-white bg-dark" style="margin: 30px;">
                      <img class="card-img-top" src="{{item.img_url}}" />
                      <div class="card-body">
                          <p class="card-text">{{ item.title }}</p>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
              

      </div>
    </div>
	</div>
</div>
</body>

</html>